.todo-list {
  background-color: var(--white-color);
}

header {
  padding: 20px 0;
}

header h1 {
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 700;
}

.form-todo {
  padding-top: 10px;
}

.form-todo h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.form-todo__item input {
  width: 100%;
  border: 1px solid var(--border-color);
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  font-size: 0.9rem;
  color: var(--text-color);
}

.content__list {
  list-style: none;
}

.content__item {
  display: flex;
  align-items: center;
  padding: 10px 10px 20px;
  border-bottom: 1px solid var(--border-color);
}

.content__checkbox {
  flex: 0.5;
}

.content__checkbox:checked + .content__heading {
  text-decoration: line-through;
}

.content__heading {
  font-size: 1.4rem;
  flex: 20;

  color: var(--text-color);
  font-weight: 500;
  padding-left: 4px;
}

.content__icon {
  flex: 1;
  background-color: var(--blue-color);
  text-align: center;
  padding: 6px 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
}

.content__icon:last-child {
  background-color: var(--red-color);
  margin-left: 10px;
}

footer {
  background-color: var(--text-color);
  color: var(--white-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 0;
  margin-bottom: 10px;
}
